{% extends "base.html" %}


{% block content %}

<body>
    <br><br>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}


    <div >
    <div  >
        <br><br>

    <div class="box01"  > 

        <div class="box02" style="margin: auto;" ><!-- Editar nombre, foto, email-->

            <div class="card bg-light " style="border-radius: 10px;">
                <div class="card-body" >
                    <h4 style="text-align: center;">Editar Perfil</h4>
                    
                    <br>
                    <form action="{% url 'editar_perfil_guardar' id=request.user.id %}" method="POST" class="form" enctype="multipart/form-data" > {% csrf_token %}
                        <div class="form-gourp">
                            <input type="text" placeholder="Nombre de usuario" id="txtnombre" value="{{ user.username }}" name="txtnombre" class="form-control" minlength="1" maxlength="50">
                        </div>
                        <br>
                        <div class="form-gourp">
                            <input type="email" placeholder="Email" id="txtemail" value="{{ user.email }}" name="txtemail" class="form-control" maxlength="254">
                        </div>
                          <br>
                        <div class="form-gourp">
                            <select class="form-gourp form-select" name="txttrol" id="txttrol" required>
                                <option value="">--------------</option>
                                {% for tipo_usuario in tipo_usuario_actual %}
                                    <option value="{{tipo_usuario.id}}" >{{tipo_usuario.nombre}}</option>
                                {% endfor %}
                                
                              </select>
                              
                        </div>
        
                        
                        <br>
                        <div>
                            
                            <h5 style="text-align: center;">Cambiar foto de perfil</h5>
                            <input type="file"  id="txtfoto"  name="txtfoto"  class="form-control" accept="image/*">
                            
                            
                        </div>
                        <br>
                        <div class="form-gourp">
                            <button type="submit" class="btn btn-success btn-block text-white col-xl-12 " >
                                Guardar cambios
                            </button>
                        </div>
                    </form>
        
                    
                </div>
                
            </div>
            


        </div><!-- Editar nombre, foto, email-->
        
        <div class="box03" style="margin: auto; width: 20rem; margin-top: 0px;"><!-- Editar contraseña-->  

            <div class="card bg-light " style="border-radius: 10px;" >
                <div class="card-body" >
                    <h4 style="text-align: center;">Cambiar Contraseña</h4>
                    
                    <br>
                    <form action="{% url 'editar_contraseña' id=user.id %}" method="POST" class="form" enctype="multipart/form-data" > {% csrf_token %}
                       
                        <div class="form-gourp">
                            <input type="password" placeholder="Contraseña actual" id="txtpassword_actual" value="" name="txtpassword_actual" class="form-control" maxlength="254">
                        </div>
                        <small  style="color: grey;" >(8 caracteres mín.)</small>
                        <br>
                        <div class="form-gourp">
                            <input type="password" placeholder="Contraseña nueva" id="txtpassword_nueva" value="" name="txtpassword_nueva" class="form-control" maxlength="254">
                        </div>
                        <small  style="color: grey;" >(8 caracteres mín.)</small>
                        <br>
                        <div class="form-gourp">
                            <input type="password" placeholder="Confirmar contraseña nueva" id="txtpassword_nueva_confirm" value="" name="txtpassword_nueva_confirm" class="form-control" maxlength="254">
                        </div>
                        <small  style="color: grey;" >(8 caracteres mín.)</small>
                        <br>
                        
        
        
                        <div class="form-gourp">
                            <button type="submit" class="btn btn-success btn-block text-white col-xl-12 " >
                                Guardar cambios
                            </button>
                        </div>
                    </form>
        
                    
                </div>
                
            </div>


        </div><!-- Editar contraseña-->  

    </div>
    

</div>
</div>
    <div>
        {% if mesagess %}
    {% for message in mesagess %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {% endif %}
    </div>
    

{% endblock %}