{% extends "base.html" %}

{% block content %}


    <h1>Acá hiría el Feed si tuviera uno</h1>

    {% for post in posteos %}

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                
                <h5 class="card-title">titulo: {{ post.titulo }}</h5>
              
                <div class="card-text">contenido: {{ post.pre_contenido }}</div>
                
                <a>me gusta: {{post.me_gusta}}</a>
                <a>no me gusta: {{post.no_megusta}}</a>
                <a>visitas: {{post.visitas}}</a>
                <br>
                <form action="crear_comentario/" method="POST" > {% csrf_token %}
                    <input type="hidden" name="id_post" value="{{post.id_post}}">
                    <input type="text" name="txtcontenido" id="txtcontenido" placeholder="comentario">
                   <button type="submit">comentar</button>
                </form>
                
            </div>
        </div>

    {% endfor %}
    
{% endblock %}
