{% extends "base.html" %}

{% block content %}

 
 

<div class="wrapper">
  
    <div class="posts ">
    <section class="main-section row">
    
    {% if posteos %}
            
    {% for post in posteos %}

        <div class="card" style="width: 16rem;  border: 5px; margin: 6px; height: auto;"  >
          <a href="{% url 'leer_posteo' id=post.id %}">
            <img src="{{post.imagen.url}}" class="card-img-top" >   
          </a>
            
            <div class="card-body" >
                <h5 class="card-title"  > {{ post.titulo }}</h5>
                <div class="cardbody"></div>
                <div class="card-text" style="width: auto; height: 6rem;" >
                   <p>{{ post.pre_contenido }}</p> 
                </div>
                <p class="card-text"><small class="text-muted">{{ post.creado_en }}</small></p>
                <p class="card-text"><small class="text-muted">{{ post.visitas }}</small></p>
                
               
                  <a class="btn-outline-success" href="{%url 'reaccionar' id=post.id reac='mg' %}">Megusta--{{post.me_gusta}}</a>
                  
                
                  <a class="btn-outline-success" href="{%url 'reaccionar' id=post.id reac='nmg' %}">Nomegusta--{{post.no_megusta}}</a>
                
                
                
                
                <a href="{% url 'leer_posteo' id=post.id %}" style="text-align: left; font-family: Verdana;" >Leer articulo</a>
                <br>
               
            </div>
        </div> 

    {% endfor %}

    {% else %}
        <h2 style="text-align: center;">No hay posts</h2>
    {% endif %}

    </section>

    </div>
    <div class="lista">
      <br>
      <ol>
        Objetivos de Desarrollo Sostenibles
        <a href="{% url 'feed' %}" >Todos </a>
        <br>
        <section class="main-section2 ">
        {% for categoria in categorias %}
       
        <a href= "{% url 'buscar_por_catetoria' id=categoria.id %}"  >
         <img src="{{categoria.imagen.url}} " alt="asdad" style="height: 80px; width: 80px; "> 
        </a>
        </selection>
      
        {% endfor %} 
      </ol>
  
    </div>
    
    

    <div class="otras_cosas">
      
      {% if user.is_authenticated %}
      <br>
        <a href="{% url 'perfil_usuario' %}" >Crear Posteo</a>
        <br>
      {% endif %}

      Buscar post por comentarios
      <br>

      <form  class=" d-flex justify-content-center " action="{% url 'busqueda_por_comentario' %}" method="GET"> {% csrf_token %}
        <div class="btn-group " method="GET">
            <input class="form-control col-xl-12 " id="comentario_buscado" name="comentario_buscado" style="width: auto;" type="text" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" >Buscar</button>
       </div>
    </form>

     
      <br>
      Buscar post por fecha
      <br>
      <form  class=" d-flex justify-content-center " action="{% url 'busqueda_por_fecha' %}" method="GET"> {% csrf_token %}
        <div class="btn-group " method="GET">
            <input class="form-control col-xl-12 " id="fecha_buscada" name="fecha_buscada" style="width: auto;" type="date"  placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" >Buscar</button>
       </div>
    </form>
      <br>

    </div>
  </div>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    
{% endblock %}
