{% extends "base.html" %}

    
{% block content %}

<!--
    Acá se va mostrar el post enterito con comentarios y todo 
 -->
<h1>acá se puede leer el post completo</h1>

<div class="leer_post">

    {% if un_posteo %}
    <h1>{{ un_posteo.titulo }}</h1>
    <p>{{ un_posteo.contenido }}</p>
    <p>{{ un_posteo.fecha }}</p>
    <p>{{ un_posteo.autor }}</p>
    <p>{{ un_posteo.categoria }}</p>

    <h2>Comentarios</h2>
    {% for un_comentario in comentarios_del_posteo %}
        <p>{{ un_comentario.contenido }}</p>
        <p>{{ un_comentario.comentador_id }}</p>
    {% endfor %}

{% endif %}

</div>




{% endblock%}