{% extends "base.html" %}

    
{% block content %}

<!--
    Acá se va mostrar el post enterito con comentarios y todo 
 -->

<div>
    
<div class="leer_post">
    <br><br><br><br><br>
    {% if un_posteo %}
    <h1>{{ un_posteo.titulo }}</h1>
    <p>{{ un_posteo.creado_en }}</p>
    <p>Autor: {{ un_posteo.posteador }}</p>
    <div class="dropdown-divider"></div>
    
    <img src="{{un_posteo.imagen.url}}" alt="" style="width: 25rem; height: 25rem;">
    <br>
    <div class="dropdown-divider"></div>
    <br>
    <p style="text-align:left; text-indent: 20px;" >{{ un_posteo.contenido }}</p>
    
    <div class="dropdown-divider"></div>

    
    <a  href="{%url 'reaccionar' id=un_posteo.id reac='mg' %}">
        <img src="/static/img/me_gusta_true.png" alt="" style="width: 2rem; height: 2rem;"> </a>
         {{un_posteo.me_gusta}}
       
       
     
    <a  href="{%url 'reaccionar' id=un_posteo.id reac='nmg' %}">
         <img src="/static/img/no_megusta_true.png" alt="" style="width: 2rem; height: 2rem;"> </a>
         {{un_posteo.no_megusta}}
     
    <p class="card-text"><small class="text-muted">Este post ha sido visto {{ un_posteo.visitas }} veces</small></p>

    
    <div class="dropdown-divider"></div>
    <h4>Comentarios</h4>
    

    <div  style=" text-align:left; border-width: 1px;" >
        

        
    <form action="{% url 'crear_comentario' id=un_posteo.id %}">
        {% csrf_token %}  
        <div class="form-group" >
        <input clase="form-control" type="text"  id="txtcontenido" name="txtcontenido" placeholder="Comentar" style=" width: 42rem; height: 2rem; border-style: solid; border-width: 1px ;" >
        </div>
    </form>
    <br>
    <div id="global_comentarios">
    <div id="mensajes">
    {% for un_comentario in comentarios_del_posteo %}
        <div class="box01">
           
               
            <div class="box02" >
               
                <strong>{{un_comentario.nombre_comentador}}:</strong>
                
            </div>
            &nbsp;
            <div class="box03" >
                 {{ un_comentario.contenido }}
            </div>
            
            
        </div>
        
        
    {% endfor %}
    </div>
    

{% endif %}

</div>
</div>






{% endblock%}