{% extends "base.html" %}

{% block content %}

<body style="background: whitesmoke;" >
    

<br><br><br>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                
                {% elif message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> 
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

<br><br><br>
 

    

    <div class="card" style="height: 33rem; width: 60rem; margin: auto;"> 
        {% if usuario_actual.tipo_usuario_id == 1 %}
    <small style="text-align: center; padding: 10px; color: rgb(255, 0, 0); " >Para poder crear posteos debe estar registrado como Posteador</small>
    {% endif %}
        <div class="card-body" >
    <form action="{% url 'agregar_post' %} " method="POST"  enctype="multipart/form-data"> {% csrf_token %}
        
        <div class="form-group">
                        
            <input type="text" class="form-control" id="txttitulo" name="txttitulo" placeholder="Título">
        </div>
        <br>
        <div class="form-group">
                        
            <textarea class="form-control" id="txtcontenido" name="txtcontenido" rows="10" placeholder="Contenido"></textarea>
        </div>
        <div class="form-group">
            <br>
            <select class="form-gourp form-select" name="txtcategoria" id="txtcategoria" required>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}" >{{categoria.name}}</option>
                    
                {% endfor %}
              </select>
        </div>
        <br>

        <div >
            <input type="file" id="txtimagen"  name="txtimagen">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Postear</button>  
        
    </form>
    </div>
</div>

<div class="perfil_usuario" >

    <div class="usuario_datos"> 
       
        <img src="{{usuario_actual.foto.url }}" style="width: 15rem; height: 8rem; border-top-left-radius: 10px; border-top-right-radius: 10px; " >
        <br>
        {{ user.username }}
        <br>
        {{ user.email }}
       <br>
        <h6>Mis categorias</h6>
       
            {% if mis_categorias %}
                {% for mi_categoria in mis_categorias %}
                        <p>{{ mi_categoria.name }} </p>
                {% endfor %}
            {% endif %}
        
    </div>


     <br>
     
     
<div class="post" ib="global">
    <section class="main-section row" id="mensajes">
    <h4>Mis Posts</h4>
     {% for post in mis_posteos %}
     <div class="card" style="width: 15rem;">
        
         <div class="card-body">
            <img src="{{post.imagen.url}}" alt="{{post.tipo_17_ODS}}" style="width:150px;">
             <h5 class="card-title"> {{ post.titulo }}</h5>
           
             <p class="card-text"> {{ post.pre_contenido }}</p>
         </div>
     </div>

    {% endfor %}
    </section> 
</div>




<div class="cometarios" style="background: rgb(6, 107, 20);">
    {%if mis_comentarios %}
        {% for post in posteos %}
            <p> {{post.titulo}} </p>
             {% for comentario in mis_comentarios %}
                {% if comentario.post_id == post.id %}
                    <p>  >> {{ comentario.contenido }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>


</div>

</div>



</body>

{% endblock %}