<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nosotros</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		div{
			text-align: center;	
		}

		ul{
			display: inline-block;
			text-align: left;
		}

		.buttons{
			padding: 5px;
		}

		.buttons a {
  			text-decoration: none;
  			font-size: 15px;
  			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background: #314652;
			color: #f1f1f1;
			border-radius: 50%;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
			transition: all .4s ease-in-out;
		}
					
		.buttons a:hover {
  			transform: scale(1.2);
		}	
	</style>

</head>


<body>
	<div>
		<h3>Conociéndonos</h3>
		<p>Somos un grupo en el cual comenzamos éste proyecto de blog con la idea de informarte sobre la temática de los 17 ODS y del porqué es tan importante a día de hoy.</p>
		
		<h3>Integrantes</h3>
		<ul>
			<li>Pallarés Ulises</li>
			<li>Bracamonte Sebastián</li>
			<li>Blanco Carolina </li>
			<li>Romero Darío</li>
			<li>Sanchez Lautaro</li>
			<li>Kapitanich Jorge</li>
		</ul>
		
		<h3>Objetivo</h3>
		<p>Brindar un conocimiento <strong>conciso</strong> y <strong>claro</strong> en el blog. Pero sobre todo, <strong>estar a disposición</strong> para aclarar tus dudas o preguntas que tengas. Síguenos en nuestras redes.</p>
		<section class="buttons">
      		<a href="#" class="fa fa-facebook"></a>
      		<a href="#" class="fa fa-twitter"></a>
      		<a href="#" class="fa fa-instagram"></a>
      		<a href="#" class="fa fa-youtube"></a>
      		<a href="#" class="fa fa-linkedin"></a>
    	</section>
	
	</div>

</body>

</html>