{% extends 'base.html' %}
    
    {% block content %}

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>

		body{
			background-color: #C5D5C5;
		}

		div{
			text-align: center;		
		}

		ul{
			display: inline-block;
			text-align: left;
		}

		.buttons{
			padding: 5px;
		}

		.buttons a {
  			text-decoration: none;
  			font-size: 15px;
  			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background: #314652;
			color: #f1f1f1;
			border-radius: 50%;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
			transition: all .4s ease-in-out;
		}
					
		.buttons a:hover {
  			transform: scale(1.2);
		}	
	</style>




<body>
    <br><br><br>
	<div>
		<h3>Conociéndonos</h3>
		<p>Somos un grupo en el cual comenzamos éste proyecto de blog <br> con la idea de informarte sobre la temática de los 17 ODS <br> y del porqué es tan importante a día de hoy.</p>
		
		<h3>Integrantes</h3>
		<ul>
			<li>Pallarés Ulises</li>
			<li>Bracamonte Sebastián</li>			
			<li>Kapitanich Jorge</li>
		</ul>
		
		<h3>Objetivo</h3>
		<p>Brindar un conocimiento <strong>conciso</strong> y <strong>claro</strong> en el blog. <br> Pero sobre todo, <strong>estar a disposición</strong> para aclarar tus dudas o preguntas que tengas. <br> Síguenos en nuestras redes.</p>
		
		<section class="buttons" >
			<a href="https://github.com/ulisespallares888/blog_informatorio" class="fa fa-github">  </a>
			<a href="https://trello.com/b/UHoQJEJy/blog17ods" class="fa fa-trello">  </a>
		</section>
		
	</div>

</body>

{% endblock %}