{% extends "base.html" %}

{% block content %}

    <h1>este es el perfil de usuario</h1>

    <form action="agregar_post/" method="POST" class="form" > {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="txttitulo" name="txttitulo" placeholder="Titulo">
        </div>
        <div class="form-group">
            <label for="contenido">Contenido</label>
            <textarea class="form-control" id="txtcontenido" name="txtcontenido" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>  

    </form>


     <br>
     <br>
     {% for post in posteos %}

     <div class="card" style="width: 18rem;">
         <div class="card-body">
             
             <h5 class="card-title">titulo: {{ post.titulo }}</h5>
           
             <p class="card-text">contenido: {{ post.contenido }}</p>
             


             {% for comentario in comentarios %}
             {% if comentario.post_id == post.id %}
                 <p class="card-text">comentario: {{ comentario.contenido }}</p>
             {% endif %}
             {% endfor %}
            
             <br>
         </div>
     </div>

 {% endfor %}

{% endblock %}