{% extends "base.html" %}

{% block content %}

    <h1>este es el perfil de usuario</h1>

    <form action="{% url 'agregar_post' %} " method="POST"  enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="txttitulo" name="txttitulo" placeholder="Titulo">
        </div>
        <div class="form-group">
            <label for="contenido">Contenido</label>
            <textarea class="form-control" id="txtcontenido" name="txtcontenido" rows="3"></textarea>
        </div>
        <div class="form-group">
            <select class="form-gourp form-select" name="txtcategoria" id="txtcategoria" required>
                {% for categoria in categorias %}
                    <option value="{{categoria.id}}" >{{categoria.name}}</option>
                    
                {% endfor %}
              </select>
        </div>

        <div >
            <input type="file" id="txtimagen"  name="txtimagen">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>  

    </form>


     <br>
     <br>
     <h4>Mis Posts</h4>
     {% for post in posteos %}

     <div class="card" style="width: 18rem;">
        
         <div class="card-body">
            <img src="{{post.imagen.url}}" alt="{{post.tipo_17_ODS}}" style="width:150px;">
             <h5 class="card-title">titulo: {{ post.titulo }}</h5>
           
             <p class="card-text">contenido: {{ post.pre_contenido }}</p>
             
             <p class="card-text">  categoria: {{post.categoria}} </p>
             


             {% for comentario in comentarios %}
             {% if comentario.post_id == post.id %}
                 <p class="card-text">comentario: {{ comentario.contenido }}</p>
             {% endif %}
             {% endfor %}
                     

             <br>
         </div>
     </div>

 {% endfor %}

{% endblock %}