{% extends 'base.html' %}

    
    {% block content %}
    <div style="background:whitesmoke;">
        <br><br><br>

        <div style="text-align: center;" >
            <h3 style="margin-left: 1rem; margin-right: 1rem;" ><p>LOS OBJETIVOS DE DESARROLLO SOSTENIBLE BUSCAN ERRADICAR LA POBREZA, PROTEGER EL PLANETA Y ASEGURAR LA PROSPERIDAD PARA TODOS COMO PARTE DE UNA NUEVA AGENDA 2030.
                 CADA OBJETIVO TIENE METAS ESPECÍFICAS QUE LA ARGENTINA APLICARÁ DEPENDIENDO DE SU REALIDAD ECONÓMICA, SOCIAL Y AMBIENTAL.</p>
                <img src="/static/img/categorias/18.jpg" alt="" style="width: 40%; height: 40%; ">
            </h3>
        </div>
        
<div>
    
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/1.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;">
        </div>

        <div class="box03">
            <h3 >PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDO </h3>
            <h6>
                <p>
                    A nivel mundial, el número de personas que viven en situación de extrema pobreza disminuyó desde un 36 % en 1990 hasta un 10 % en
                     2015. No obstante, el ritmo al que se produce este cambio está disminuyendo, y la crisis de la COVID-19 pone en riesgo décadas de progreso en la lucha contra la pobreza. Una nueva investigación publicada por el Instituto Mundial de Investigaciones de Economía del Desarrollo de la Universidad de las Naciones Unidas advierte de que las consecuencias económicas de la pandemia mundial podrían incrementar la pobreza en todo el mundo hasta llegar a afectar a 500 millones de personas más, o lo que es lo mismo, a un 8 % más de la población total mundial. 
                    Esta sería la primera vez que la pobreza aumente en todo el mundo en 30 años, desde 1990.
                </p>
                <p>
                    Más de 700 millones de personas, o el 10 % de la población mundial, aún vive en situación de extrema pobreza a día de hoy, con dificultades para satisfacer las necesidades más básicas, como la salud, la educación y el acceso a agua y saneamiento, por nombrar algunas. La mayoría de las personas que viven con menos de 1,90 dólares al día viven en el África subsahariana. En todo el mundo, 
                    los índices de pobreza en las áreas rurales son del 17,2 %; más del triple de los mismos índices para las áreas urbanas.
                </p>
                <p>
                    Para los que trabajan, su puesto de trabajo no les garantiza una vida digna. De hecho, el 8 % de los trabajadores de todo el mundo, y sus familias, vivían en situación de extrema pobreza en 2018. Uno de cada cinco niños vive en situación de extrema pobreza. Garantizar la protección social de todos los 
                    niños y otros grupos vulnerables resulta crucial para reducir la pobreza.
                </p>
            </h6>
        </div>
    </div>
    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/2.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >PONER FIN AL HAMBRE, LOGRAR LA SEGURIDAD ALIMENTARIA Y LA MEJORA DE LA NUTRICIÓN Y PROMOVER LA AGRICULTURA SOSTENIBLE </h3>

            <h6>
                <p>
                    Tras décadas de una disminución constante, el número de personas que padecen hambre (medido por la prevalencia de desnutrición) comenzó a aumentar lentamente de nuevo en 2015. Las estimaciones actuales indican que cerca de 690 millones de personas en el mundo padecen hambre, es decir, el 8,9 por ciento de la población mundial, 
                    lo que supone un aumento de unos 10 millones de personas en un año y de unos 60 millones en cinco años.
                </p>
                <p>
                    El mundo no está bien encaminado para alcanzar el objetivo de hambre cero para 2030. Si continúan las tendencias
                     recientes, el número de personas afectadas por el hambre superará los 840 millones de personas para 2030.
                </p>
                    Según el Programa Mundial de Alimentos, alrededor de 135 millones de personas padecen hambre severa Disponible en inglés, debido principalmente a los conflictos causados por los seres humanos, el cambio climático y las recesiones económicas. La pandemia de COVID-19 podría duplicar ahora esa cifra y sumar unos
                    130 millones de personas más que estarían en riesgo de padecer hambre severa a finales de 2020.
                <p>
                    Con más de 250 millones de personas que podrían encontrarse al borde de la hambruna Disponible en inglés, es necesario 
                    actuar rápidamente para proporcionar alimentos y ayuda humanitaria a las regiones que corren más riesgos.
                </p>
                <p>
                    Al mismo tiempo, es necesario llevar a cabo un cambio profundo en el sistema agroalimentario mundial si queremos alimentar a más de 820 millones de personas que padecen hambre y a los 2000 millones de personas más que vivirán en el mundo en 2050. El aumento de la productividad 
                    agrícola y la producción alimentaria sostenible son cruciales para ayudar a aliviar los riesgos del hambre.
                </p>
            </h6>
        </div>
    </div>


    <br>

    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/3.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >GARANTIZAR UNA VIDA SANA Y PROMOVER EL BIENESTAR PARA TODOS EN TODAS LAS EDADES</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/4.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >GARANTIZAR UNA EDUCACIÓN INCLUSIVA, EQUITATIVA Y DE CALIDAD, Y PROMOVER OPORTUNIDADES DE APRENDIZAJE DURANTE TODA LA VIDA PARA TODOS</h3>

            <h6>
                <p>
                    La educación permite la movilidad socioeconómica ascendente y es clave para salir de la pobreza. Durante la última década, se consiguieron grandes avances a la hora de ampliar el acceso a la educación y las tasas de matriculación en las escuelas en todos los niveles, especialmente para las niñas. No obstante, alrededor de 260 millones de niños aún estaban fuera de la escuela en 2018; cerca de una quinta parte de la población mundial de ese grupo de edad. Además, más de la mitad de todos los niños y adolescentes
                     de todo el mundo no están alcanzando los estándares mínimos de competencia en lectura y matemáticas.
                </p>
                <p>
                    En 2020, a medida que la pandemia de la COVID-19 se propagaba por todo el planeta, la mayor parte de los países anunciaron el cierre temporal de las escuelas, lo que afectó a más del 91 % de los estudiantes en todo el mundo. En abril de 2020, cerca de 1600 millones de niños y jóvenes estaban fuera de la escuela. Igualmente, cerca de 369 millones de 
                    niños que dependen de los comedores escolares tuvieron que buscar otras fuentes de nutrición diaria.
                </p>
                <p>
                    Nunca antes habían estado tantos niños fuera de la escuela al mismo tiempo, lo que altera su aprendizaje y cambia drásticamente sus vidas, especialmente las de los niños más vulnerables y marginados. La pandemia mundial tiene graves consecuencias que pueden poner en peligro 
                    los avances que tanto costaron conseguir a la hora de mejorar la educación a nivel mundial.
                </p>
                       
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/5.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >LOGRAR LA IGUALDAD DE GÉNEROS Y EMPODERAR A TODAS LAS MUJERES Y NIÑAS</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/6.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >GARANTIZAR LA DISPONIBILIDAD DE AGUA Y SU GESTIÓN SOSTENIBLE Y EL SANEAMIENTO PARA TODOS</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/7.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >GARANTIZAR EL ACCESO A UNA ENERGÍA ASEQUIBLE, SEGURA, SOSTENIBLE Y MODERNA PARA TODOS</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/8.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 > PROMOVER EL CRECIMIENTO ECONÓMICO SOSTENIDO, INCLUSIVO Y SOSTENIBLE; EL EMPLEO PLENO Y PRODUCTIVO Y EL TRABAJO DECENTE PARA TODOS</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/9.png" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >CONSTRUIR INFRAESTRUCTURAS RESILIENTES, PROMOVER LA INDUSTRIALIZACIÓN INCLUSIVA Y SOSTENIBLE Y FOMENTAR LA INNOVACIÓN</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/10.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >REDUCIR LA DESIGUALDAD EN Y ENTRE LOS PAÍSES</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/11.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >LOGRAR QUE LAS CIUDADES Y LOS ASENTAMIENTOS HUMANOS SEAN INCLUSIVOS, SEGUROS, RESILIENTES Y SOSTENIBLES</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/12.png" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >GARANTIZAR MODALIDADES DE CONSUMO Y PRODUCCIÓN SOSTENIBLE</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/13.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >ADOPTAR MEDIDAS URGENTES PARA COMBATIR EL CAMBIO CLIMÁTICO Y SUS EFECTOS</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/14.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >CONSERVAR Y UTILIZAR EN FORMA SOSTENIBLE LOS OCÉÁNOS, LOS MARES Y LOS RECURSOS MARINOS PARA EL DESARROLLO</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/15.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >PROMOVER EL USO SOSTENIBLE DE LOS ECOSISTEMAS TERRESTRES, LUCHAR CONTRA LA DESERTIFICACIÓN, DETENER E INVERTIR LA DEGRADACIÓN DE LAS TIERRAS Y FRENAR LA PÉRDIDA DE LA DIVERSIDAD BIOLÓGICA</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/16.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >PROMOVER SOCIEDADES PACÍFICAS E INCLUSIVAS PARA EL DESARROLLO SOSTENIBLE, FACILITAR EL ACCESO A LA JUSTICIA PARA 
            TODOS Y CREAR INSTITUCIONES EFICACES, RESPONSABLES E INCLUSIVAS A TODOS LOS NIVELES</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    <div class="box01">
        <div class="box02"  >
            <img src="/static/img/categorias/17.jpg" alt=""  style="width: 20rem; margin-right: 1rem; margin-left: 1rem;" >
        </div>

        <div class="box03">
        <h3 >FORTALECER LOS MEDIOS DE EJECUCIÓN Y REVITALIZAR LA ALIANZA MUNDIAL PARA EL DESARROLLO SOSTENIBLE</h3>

            <h6>
                <p>
                    Garantizar una vida sana y promover el bienestar en todas las edades es esencial para el desarrollo sostenible.
                </p>
                <p>
                    Actualmente, el mundo se enfrenta a una crisis sanitaria mundial sin precedentes; la COVID-19 está propagando el sufrimiento humano, desestabilizan
                    do la economía mundial y cambiando drásticamente las vidas de miles de millones de personas en todo el mundo.
                </p>
                <p>
                    Antes de la pandemia, se consiguieron grandes avances en la mejora de la salud de millones de personas. En concreto, estos grandes avances se alcanzaron al aumentar la esperanza de vida y reducir algunas de las causas de muerte comunes asociadas con la mortalidad infantil y materna. Sin embargo, se necesitan más esfuerzos para erradicar por completo una gran variedad de enfermedades y abordar un gran número de problemas de salud, tanto constantes como emergentes. A través de una financiación más eficiente de los sistemas sanitarios, un mayor saneamiento e higiene, y un mayor acceso al personal médico, se podrán conseguir 
                    avances significativos a la hora de ayudar a salvar las vidas de millones de personas.
                </p>
                
                <p>
                    Las emergencias sanitarias, como la derivada de la COVID-19, suponen un riesgo mundial y han demostrado que la preparación es vital. El Programa de las Naciones Unidas para el Desarrollo señaló las grandes diferencias relativas a las capacidades de los países para lidiar con la crisis de la COVID-19 y recuperarse de ella. La pandemia constituye un punto de inflexión en lo referente a la preparación para 
                    las emergencias sanitarias y la inversión en servicios públicos vitales del siglo XXI.
                </p>
        
            </h6>
        </div>
    </div>

    <br>
    
</div>

{% endblock %}