{% extends 'base.html' %}

    
    {% block content %}
    <div>
        <br><br><br>
        <center><h1>¿Qué son los 17 ODS?</h1>


        <h3><p>Los Objetivos de Desarrollo Sostenible buscan erradicar la pobreza, proteger el planeta y asegurar la prosperidad para todos como parte de una nueva agenda 2030. Cada objetivo tiene metas específicas que la Argentina aplicará dependiendo de su realidad económica, social y ambiental.</p></h3></center>
        <br><br>
        
        <ul>
			<li><FONT COLOR="green">OBJETIVO 1 </FONT> PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDO</li><br>
			<li><FONT COLOR="green">OBJETIVO 2 </FONT> PONER FIN AL HAMBRE, LOGRAR LA SEGURIDAD ALIMENTARIA Y LA MEJORA DE LA NUTRICIÓN Y PROMOVER LA AGRICULTURA SOSTENIBLE</li><br>
			<li><FONT COLOR="green">OBJETIVO 3 </FONT> GARANTIZAR UNA VIDA SANA Y PROMOVER EL BIENESTAR PARA TODOS EN TODAS LAS EDADES </li><br>
			<li><FONT COLOR="green">OBJETIVO 4 </FONT> GARANTIZAR UNA EDUCACIÓN INCLUSIVA, EQUITATIVA Y DE CALIDAD, Y PROMOVER OPORTUNIDADES DE APRENDIZAJE DURANTE TODA LA VIDA PARA TODOS</li><br>
			<li><FONT COLOR="green">OBJETIVO 5 </FONT> LOGRAR LA IGUALDAD DE GÉNEROS Y EMPODERAR A TODAS LAS MUJERES Y NIÑAS</li><br>
			<li><FONT COLOR="green">OBJETIVO 6 </FONT>  GARANTIZAR LA DISPONIBILIDAD DE AGUA Y SU GESTIÓN SOSTENIBLE Y EL SANEAMIENTO PARA TODOS</li><br>
            <li><FONT COLOR="green">OBJETIVO 7 </FONT> GARANTIZAR EL ACCESO A UNA ENERGÍA ASEQUIBLE, SEGURA, SOSTENIBLE Y MODERNA PARA TODOS</li><br>
            <li><FONT COLOR="green">OBJETIVO 8 </FONT> PROMOVER EL CRECIMIENTO ECONÓMICO SOSTENIDO, INCLUSIVO Y SOSTENIBLE; EL EMPLEO PLENO Y PRODUCTIVO Y EL TRABAJO DECENTE PARA TODOS</li><br>
            <li><FONT COLOR="green">OBJETIVO 9 </FONT> CONSTRUIR INFRAESTRUCTURAS RESILIENTES, PROMOVER LA INDUSTRIALIZACIÓN INCLUSIVA Y SOSTENIBLE Y FOMENTAR LA INNOVACIÓN</li><br>
            <li><FONT COLOR="green">OBJETIVO 10 </FONT> REDUCIR LA DESIGUALDAD EN Y ENTRE LOS PAÍSES</li><br>
            <li><FONT COLOR="green">OBJETIVO 11 </FONT> LOGRAR QUE LAS CIUDADES Y LOS ASENTAMIENTOS HUMANOS SEAN INCLUSIVOS, SEGUROS, RESILIENTES Y SOSTENIBLES</li><br>
            <li><FONT COLOR="green">OBJETIVO 12 </FONT> GARANTIZAR MODALIDADES DE CONSUMO Y PRODUCCIÓN SOSTENIBLES</li><br>
            <li><FONT COLOR="green">OBJETIVO 13 </FONT> ADOPTAR MEDIDAS URGENTES PARA COMBATIR EL CAMBIO CLIMÁTICO Y SUS EFECTOS</li><br>
            <li><FONT COLOR="green">OBJETIVO 14 </FONT> CONSERVAR Y UTILIZAR EN FORMA SOSTENIBLE LOS OCÉÁNOS, LOS MARES Y LOS RECURSOS MARINOS PARA EL DESARROLLO</li><br>
            <li><FONT COLOR="green">OBJETIVO 15 </FONT> PROMOVER EL USO SOSTENIBLE DE LOS ECOSISTEMAS TERRESTRES, LUCHAR CONTRA LA DESERTIFICACIÓN, DETENER E INVERTIR LA DEGRADACIÓN DE LAS TIERRAS Y FRENAR LA PÉRDIDA DE LA DIVERSIDAD BIOLÓGICA</li><br>
            <li><FONT COLOR="green">OBJETIVO 16 </FONT> PROMOVER SOCIEDADES PACÍFICAS E INCLUSIVAS PARA EL DESARROLLO SOSTENIBLE, FACILITAR EL ACCESO A LA JUSTICIA PARA TODOS Y CREAR INSTITUCIONES EFICACES, RESPONSABLES E INCLUSIVAS A TODOS LOS NIVELES</li><br>
            <li><FONT COLOR="green">OBJETIVO 17 </FONT> FORTALECER LOS MEDIOS DE EJECUCIÓN Y REVITALIZAR LA ALIANZA MUNDIAL PARA EL DESARROLLO SOSTENIBLE</li><br>

		</ul>
        <br><br><br><br><br>

    </div>
    {% endblock %}