<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="card bg-warning  " >
        <div class="card-body" >
            <form action="crear_usuario/" method="POST" class="form"> {% csrf_token %}
                <div class="form-gourp">
                    <input type="text" placeholder="Nombre de usuario" id="txtnombre" name="txtnombre" class="form-control" minlength="1" maxlength="50">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="email" placeholder="Email" id="txtemail" name="txtemail" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="password" placeholder="Contraseña" id="txtpassword" name="txtpassword" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="password" placeholder="Confirmar contraseña" id="txtpassword2" name="txtpassword2" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <select class="form-gourp form-select" name="txtrol" >
                        <option  value="Comentador" >Comentador</option>
                        <option  value="Posteador" >Posteador</option>
                      </select>
                </div>
                <div class="form-gourp">
                    <button type="submit" class="btn btn-success btn-block text-white col-xl-12 " >
                        Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>