{% extends "base.html" %}


{% block content %}


<body>
    <div class="card " >
        <div class="card-body" >
            <form action="crear_usuario/" method="POST" class="form" enctype="multipart/form-data" > {% csrf_token %}
                <div class="form-gourp">
                    <input type="text" placeholder="Nombre de usuario" id="txtnombre" name="txtnombre" class="form-control" minlength="1" maxlength="50">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="email" placeholder="Email" id="txtemail" name="txtemail" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="password" placeholder="Contraseña" id="txtpassword" name="txtpassword" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <input type="password" placeholder="Confirmar contraseña" id="txtpassword2" name="txtpassword2" class="form-control" maxlength="254">
                </div>
                <br>
                <div class="form-gourp">
                    <select class="form-gourp form-select" name="txttrol" id="txttrol" required>
                        {% for tipo_usuario in tipo_usuario_match %}
                            <option value="{{tipo_usuario.id}}" >{{tipo_usuario.nombre}}</option>
                            
                        {% endfor %}
                      </select>
                </div>

                
                <br>
                <div >
                    <input type="file" id="txtimagen"  name="txtimagen">
                </div>

                <div class="form-gourp">
                    <button type="submit" class="btn btn-success btn-block text-white col-xl-12 " >
                        Aceptar
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div>
        {% if mesagess %}
    {% for message in mesagess %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    {% endif %}
    </div>
    

{% endblock %}